<!DOCTYPE html>
<html style="height:100%;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>LocalChat</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="static/js/cookies/cookies.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="static/css/normalize.css" rel="stylesheet">
    <link href="static/css/foundation.css" rel="stylesheet">
    <link href="static/icons/foundation-icons.css" rel="stylesheet">
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>$(document).foundation();</script>
    <link rel="icon" type="image/png" href="static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/mainpage2.css">
</head>
<body>
<script type="text/javascript">
    function login() {
        if ($('#username').val() != '') {
            Cookies.set('username', $('#username').val());
            Cookies.set('old_username', $('#username').val());
        } else{
            Cookies.set('username', 'anonimous'); 
        }
        location.reload();  
    }

    function checkKey (e) {
        if (e.keyCode == 13) {
            login();
        }
    }

    $(document).ready(function() {
        var prev_nick = Cookies.get('old_username');
        $('#username').val(prev_nick);
    });
</script>
    
<div class='login_logo'>
    <div class='text'>
        <img src="static/img/logo-first_page.png">
        <h1>Введи ник и начинай общаться</h1>
        <div class="large-12 columns" id="name">
            <div class="row collapse">
                <div class="large-10 columns">
                    <input onkeydown='checkKey(event)' type="text" id="username" placeholder="Введи свое имя/ник">
                </div>
                <div class="large-2 columns">
                    <a href="#" class="button postfix" onclick="login();">Go</a>
                </div>
            </div>
            <p>Серфишь инкогнито? Просто ничего не вводи!
        </div>
    </div>
</div>
<!--<img class='copyright' alt='ArgonTeam - Copyright 2014' src="static/img/ArT-logo.png"> -->
</body>
</html>