div.logo_container {
	background-color: rgb(25, 175, 255);
	/*background-color: rgb(140, 140, 140);*/
	text-align: center;
}

div.login_container {
	padding-top: 10px;
	width: 800px;
	margin: auto;
}

div.login_container div.text {
	width: 50%;
	display: inline-block;
	text-align: center;
}

div.login_container div.text h1 {
	margin-top: 20px; 
	margin-bottom: 20px;
}

div.login_container img {
	display: inline-block;
	position: relative;
	left: 50px;
	top: 10px;
}

div.oth_platf {
	/*background-color: orange;*/
	border-width: 0px;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-style: dashed;
	border-color: rgb(200, 200, 200);
}

div.oth_platf div {
	width: 800px;
	margin: auto;
	padding: 5px;
}

div.oth_platf div div.text {
	min-height: 256px;
}

div.about_us {
	width: 800px;
	margin: auto;
}

img.copyright {
	width: 108px;
	position: absolute;
}

div.about_us img {
	position: relative;
	right: 50px;
	top: 10px;
	width: 350px;
	float: right;
}

div.about_us div {
	display: inline-block;
	width: 50%;
}


/* And now for mobile */
@media screen and (max-device-width:800px) {
	img {
		display: none!important;
	}

	body {
		width: 100%!important;
		min-width: 275px;
		padding: 0px;
	}

	.logo_container img {
		display: block!important;
		width: 100%!important;
		margin: auto;
	}

	.login_container {
		width: 100%!important;
		padding: 0px!important;
		margin: 0px!important;
	}

	.login_container div {
		width: 100%!important;
		margin: 0px!important;
	}

	div.row.collapse {
		width: 100%;
	}

	.oth_platf {
		width: 100%!important;		
	}

	.oth_platf div {
		width: 100%!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
	}

	.oth_platf div div {
		width: 90%!important;
		margin: auto!important;
		min-height: inherit!important;
	}

	.about_us {
		width: 100%!important;
		float: none!important;
	}

	.about_us div {
		width: 90%!important;
		margin: auto!important;
		min-height: inherit!important;
		display: block!important;
	}
}