div.logo_container {
	background-color: rgb(25, 175, 255);
	text-align: center;
}

div.login_container {
	padding-top: 10px;
	width: 800px;
	margin: auto;
}

div.login_container div.text {
	width: 50%;
	display: inline-block;
	text-align: center;
}

div.login_container div.text h1 {
	margin-top: 20px; 
	margin-bottom: 20px;
}

div.login_container img {
	display: inline-block;
	position: relative;
	left: 50px;
	top: 10px;
}

div.oth_platf {
	background-color: orange;
}

div.oth_platf div {
	width: 800px;
	margin: auto;
	padding: 5px;
}

div.oth_platf div div.text {
	min-height: 256px;
}

div.about_us {
	width: 800px;
	margin: auto;
}

img.copyright {
	width: 108px;
	position: absolute;
}

div.about_us img {
	position: relative;
	right: 50px;
	top: 10px;
	width: 350px;
	float: right;
}

div.about_us div {
	display: inline-block;
	width: 50%;
}